/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #555555; /* Color gris oscuro */
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section {
    margin: 20px 0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-details h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.profile-details p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.6;
}

/* Estilos de las secciones */
section {
    margin-bottom: 30px;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333; /* Gris medio */
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666; /* Gris claro */
}

/* Lista de experiencias */
ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #444; /* Gris oscuro */
}

strong {
    color: #555555; /* Gris oscuro */
}

/* Estilos del footer */
footer {
    background-color: #555555; /* Gris oscuro */
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
